:root {
    --main-font: ariel, sans-serif;
    --main-color: #1B1B1B;
    --secondary-color: white;
}

body {
    background-image: url(./images/sky.jpg);
}

.App {
    font-family: var(--main-font);
    margin: auto;
    max-width: 650px;
}

.App .card {
    background: rgb(255, 255, 255, 0.2);
    box-shadow: rgba(100, 106, 111, 0.2) 0px 8px 24px;
    border-radius: 8px;
}

.App footer {
    font-size: 12px;
    color: white;

}

.App a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    color: #1d064a;
}